<!DOCTYPE html>
<html lang="en">
<head>
    <title>Magic Storefront | @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />

</head>

<body>

    <!-- social header -->
    <div class="wrap">
        <div class="container">
            <div class="row">

                <div class="col-md-6 d-flex align-items-center">
                    <p class="mb-0 phone pl-md-2">
                        <a href="#" class="mr-2"><span class="fa fa-phone mr-1"></span> +00 1234 567</a>
                        <a href="#"><span class="fa fa-paper-plane mr-1"></span> youremail@email.com</a>
                    </p>
                </div>

                <div class="col-md-6 d-flex justify-content-md-end">
                    <div class="social-media mr-4">
                        <p class="mb-0 d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                        </p>
                    </div>
                    <div class="reg">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END social header -->
    <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">

        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Moira's <span>Magical Melange</span></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">

                    <li @{ if (ViewBag.Title == "Home") { @: class="nav-item active"
                        } else { @: class="nav-item"
                        } }>
                        <a href="@Url.Action("Index", "Home")" class="nav-link">Home</a>
                    </li>

                    <li @{ if (ViewBag.Title == "Magic Items") { @: class="nav-item active"
                        } else { @: class="nav-item"
                        } }>
                        <a href="@Url.Action("Index", "MagicItems")" class="nav-link">Products</a>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Functions</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="@Url.Action("Index", "Categories")">Categories</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Departments")">Departments</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Employees")">Employees</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Makers")">Makers</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Rarities")">Rarities</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Statuses")">Statuses</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "RolesAdmin")">Roles Admin</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "UsersAdmin")">Users Admin</a>
                            </div>
                        </li>
                    }

                    <li @{ if (ViewBag.Title == "Contact") { @: class="nav-item active"
                        } else { @: class="nav-item"
                        } }>
                        <a href="@Url.Action("Contact", "Home")" class="nav-link">Contact</a>
                    </li>

                    @* Shopping Cart Step 8 *@
                    <li class="nav-item">
                        @if (Session["cart"] != null &&
                            ((Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>)Session["cart"]).Count > 0
                            )
                        {
                            <a class="nav-link" href="/Views/ShoppingCart/Index.cshtml">Cart <i class="fa fa-shopping-cart"></i></a>
                        }
                        else
                        {
                            <a class="nav-link btn-cart" href="@Url.Action("Index", "ShoppingCart")">
                                <span class="flaticon-shopping-bag"></span>
                            </a>
                        }
                    </li>

                </ul>
            </div>

        </div>
    </nav>
    <!-- END nav -->
    <!-- hero -->
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/Content/images/fire2.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <p class="breadcrumbs mb-0">
                        <span class="mr-2">@ViewBag.Title <i class="fa fa-chevron-right"></i></a></span>
                    </p>
                    <h2 class="mb-0 bread">Moira's Magical Melange</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- END hero -->
    <section>
        @RenderBody()
    </section>
    <!-- footer -->
    <footer class="ftco-footer">
        <div class="container-fluid px-0 py-5 bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <p class="mb-0" style="color: rgba(255,255,255,.5);">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END footer -->
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    @*<script src="/Content/js/jquery.min.js"></script>*@
    @Scripts.Render("~/jquery")

    @Scripts.Render("~/bundles/template")

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>

    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>