@using Microsoft.AspNet.Identity
@using StoreFront.DATA.EF

@if (Request.IsAuthenticated)
{
    StorefrontEntities db = new StorefrontEntities();
    string userID = User.Identity.GetUserId();
    UserDetail currentUser = db.UserDetails.Where(ud => ud.UserID == userID).FirstOrDefault();
    string userFN = "Guest"; //default incase no match was found in UserDetails table

    if (currentUser != null)
    {
        userFN = currentUser.FirstName;
    }

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        @*<ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>*@

        <p class="mb-0"><a href="@Url.Action("Index", "Manage")" class="mr-2">Hello, @userFN!</a> <a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></p>

    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>*@

    <p class="mb-0"><a href="@Url.Action("Register", "Account")" class="mr-2" id="registerLink">Sign Up</a> <a href="@Url.Action("Login", "Account")" id="loginLink">Log In</a></p>

}
