@model StoreFront.DATA.EF.MagicItem

@{
    ViewBag.Title = "Magic Item Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MagicItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MagicItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rarity.RarityLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rarity.RarityLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maker.MakerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maker.MakerName)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.MagicItemImage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MagicItemImage)
            </dd>*@

    </dl>
</div>

<div class="col-md-6">
    <img src="~/Content/images/@Model.MagicItemImage" alt="@Model.MagicItemName cover" title="@Model.MagicItemName" />
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MagicItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
