@model IEnumerable<StoreFront.DATA.EF.MagicItem>

@{
    ViewBag.Title = "Magic Items";
}

<section class="ftco-intro">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex">
                <div class="intro d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-support"></span>
                    </div>
                    <div class="text">
                        <h2>Online Support 24/7</h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="intro color-1 d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-cashback"></span>
                    </div>
                    <div class="text">
                        <h2>Money Back Guarantee</h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="intro color-2 d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-free-delivery"></span>
                    </div>
                    <div class="text">
                        <h2>Free Shipping &amp; Return</h2>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<h2>@ViewBag.Titel</h2>

<p>
    @Html.ActionLink("Create New Magic Item", "Create", null, new { @class = "btn btn-primary " })
</p>
<table class="data-table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MagicItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rarity.RarityLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maker.MakerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MagicItemImage)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MagicItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rarity.RarityLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maker.MakerName)
                </td>
                <td>
                    @* Image Upload Utility step 1 *@
                    @*@Html.DisplayFor(modelItem => item.MagicItemImage)*@
                    <img src="~/Content/images/t_@item.MagicItemImage" alt="Magic Item Image" title="@item.MagicItemImage" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MagicItemID }, new { @class = "btn btn-primary " })
                    @Html.ActionLink("Details", "Details", new { id = item.MagicItemID }, new { @class = "btn btn-primary " })
                    @Html.ActionLink("Delete", "Delete", new { id = item.MagicItemID }, new { @class = "btn btn-primary " })
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.data-table').DataTable();
        });
    </script>
}