@model IEnumerable<StoreFront.DATA.EF.MagicItem>

@{
    ViewBag.Title = "Magic Items";
}

<h2>@ViewBag.Titel</h2>

@if (User.IsInRole("Admin") || User.IsInRole("User"))
{
    <p>
        @Html.ActionLink("Create New Magic Item", "Create", null, new { @class = "btn btn-primary " })
    </p>
}
<table class="data-table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MagicItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rarity.RarityLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maker.MakerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MagicItemImage)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", new { id = item.MagicItemID })" title="@item.MagicItemName">
                        @Html.DisplayFor(modelItem => item.MagicItemName)
                    </a>
                    @*@Html.DisplayFor(modelItem => item.MagicItemName)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rarity.RarityLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maker.MakerName)
                </td>
                <td>
                    @* Image Upload Utility step 1 *@
                    @*@Html.DisplayFor(modelItem => item.MagicItemImage)*@
                    <a href="@Url.Action("Details",new {id=item.MagicItemID})" title="@item.MagicItemName">
                        <img src="~/Content/images/t_@item.MagicItemImage" alt="Magic Item Image" title="@item.MagicItemImage" />
                    </a>
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.MagicItemID }, new { @class = "btn btn-primary" })
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.MagicItemID }, new { @class = "btn btn-primary mt-1" })
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.MagicItemID }, new { @class = "btn btn-primary mt-1" })
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.data-table').DataTable();
        });
    </script>
}